* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #6666661c;

}
/*NAVEGADOR**************************************************************************-->*/
.container {
    /* border: 2px solid white; */
    background-color: white;
    border-radius: 8px;
    /* padding: 0.5%; */
    gap: 10px;
    box-shadow: 1px 1px 5px;
}
.header {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
    
}
.itemsHeader {
    border: 2px solid blue;
    margin: 1px;
}
.itemsHeaderLogo {
    background-image: url('1-imagenes/logo.png');
    background-size: 100%;
    background-position: center;
    width: 180px;
    height: 50px;
    background-repeat: no-repeat;
}
.itemsHeaderMenu1 {
    display: flex;
    margin-right: 100px;
}
.itemsHeaderMenu1 p {
    align-content: center;
    margin-right: 10px;
    font-weight: bold;
}
.itemsHeaderMenu2 {
    display: flex;
}
.itemsHeaderMenu2 p {
    align-content: center;
    margin-right: 10px;

}
.vendeCoche {
    margin-top: 10px;
    height: 30px;
    padding: 5px;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 32px;
}
/*1 SECTION**************************************************************************-->*/
.formImage {
    background-image: url('1-imagenes/imagen formulario.jpg');    
    background-size: 100%;
    height: 500px;
    border-radius: 8px;
    align-content: center;
    background-repeat: no-repeat;

}
.formText {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.itemsForm {
    /* border: 2px solid blue; */
    margin: 1px;
    color: white;
    font-weight: bold;
    font-size: 60px;
    text-shadow: 2px 2px black;
    -webkit-text-stroke: 1.5px black
}
.leftForm {
    width: 50%;
}
/*FORMULARIO*/
.fullFormulario {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    width: 50%;
    max-width: 40%;
    box-shadow: 1px 1px 10px;
}
.headerFormulario {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    font-weight: bold;
}

.itemsForm {
    display: flex;
    flex-direction: column;
    width: 100%;
}
select {
    width: 100%;
    height: 35px;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 15px;
    color: grey;
    border: 1px solid grey;
}
option {
    text-align: center;
}
.itemsFormSelectors {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
input {
    width: 100%;
    font-weight: bold;
    font-size: 15px;
    color: white;
    border: red;
    background-color: red;
    border-radius: 16px;
    height: 35px;
}
/*CATEGORY*/
.category {
    /* border: 2px solid blue; */
    margin: 1px;
    padding-bottom: 20px;
}
.headerCategory {
    /* border: 2px solid blue; */
    margin: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerCarrusel {
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-evenly;
    gap: 0px 8px;
}
.cuadroCarrusel {
    width: 150px;
    height: 150px;
    background-color: rgba(228, 228, 228, 0.664);
    border-radius: 18px;
    margin: 1.5%;
}
.imageCarrusel {
    width: 150px;
    height: 150px;
    background-image: url('/1-tarea/1-imagenes/carrusel.webp');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: 50% 10%;
}
.textCarrusel {
    padding: 10%;
    font-size: 22px;
}

/*2 SECTION**************************************************************************-->*/
.headerLifeStyle {
    /* border: 2px solid blue; */
    margin: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerCarrusel2 {
    display: flex;
    justify-content: space-evenly;
    gap: 0px 8px;
    flex-wrap: wrap;
}
.imageCarrusel2 {
    width: 250px;
    height: 250px;
    background-color: rgb(255, 255, 255);
    border-radius: 18px;
    margin: 1%;
    
    background-image: url('/1-tarea/1-imagenes/imagencarrusel.jpg');
    background-size: 100% 70%;
    background-repeat: no-repeat;
}
.textCarrusel2 {
    padding: 1%;
    font-size: 25px;
    padding-top: 80%;
}

/*3 SECTION**************************************************************************-->*/
.destacados {
    /* border: 2px solid yellow; */
    height: 400px;
    display: flex;
    background-color: white;
    border-radius: 8px;
}
.imagenDestacados {
    background-image: url('1-imagenes/destacados.png');
    height: 100%;
    width: 50%;
}
.itemsDestacados {
    /* border: 2px solid green; */

    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.itemsDestacados h1 {
    background-color: red;
    padding: 3%;
    border-radius: 8px;
    color: white;
    width: 50%;
}
.itemsDestacados button {

    padding: 3%;
    border-radius: 16px;
    background-color: transparent;
    
}

.button1 {
    border-radius: 100%;
    margin-right: 10px;
    height: 30px;
    width: 30px;
    border: 1px solid black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}